* {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: rgb(36, 36, 36);
    padding: 25px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav__links {
    margin-right: 20px;
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease 0s;
    font-size: 15px;
}

.nav__links:hover {
    color: orange;
    font-size: 16.4px;
}

.title-1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.desc-1 {
    font-size: 14px;
    margin-bottom: 25px;
}

.story-1 {
    font-size: 13px;

}

.container-1 {
    width: 60%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.more {
    border: solid 3px rgb(43, 43, 43);
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    transition: all 0.5s;
    margin-left: 2rem;
}

.more:hover {
    font-size: 16px;
}