@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: #161616;
}

.HERO-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(19, 19, 19);
    background-color: rgb(16, 16, 16);
    padding: 25px 100px 50px 100px;
    border-radius: 7px;
}

.text {
    text-align: center;
    margin-top: 60px;
    color: #5c5c61;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.HERO-box h1 {
    font-size: 160px;
    margin-bottom: -40px;
    color: #444444;
}

.HERO-box h3 {
    color: #303030;
}

.return {
    margin-top: 34px;
}

.return button {
    outline: none;
    border: none;
    background-color: rgb(196, 196, 196);
    color: rgb(34, 34, 34);
    padding: 10px 25px;
    border-radius: 7px;
    transition: all 0.4s;
    box-shadow: 1px 5px 5px rgb(189, 189, 189);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.container .return a {
    text-decoration: none;
}

.container .return button:hover {
    color: rgb(197, 197, 197);
    background-color: rgb(33, 33, 33);
    box-shadow: 1px 5px 5px rgb(44, 44, 44);
}
