* {
    padding: 0;
    margin:  0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

input {
    margin-top: 1rem;
    padding: 10px 15px;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 3px;
    border: none;
}

input:hover {
    background-color: rgb(59, 59, 59);
    color: white;
    font-size: 17.2px;
}

body {
    background-color: rgb(27, 27, 27);
}

.title {
    color: rgb(212, 212, 212);
}